/* 
.content{
    filter: blur(0px);
} */

body,
html {
    height: 100%;
    background-color: #282923;
    font-family: 'Nunito', sans-serif;
    scroll-behavior: smooth;
    background-size: auto 450px;
    background-image: url(src/gelo-blur.jpg);
    

}

* {
    box-sizing: border-box;
}

#navbar{
    position: fixed;
    top: -5em;
    width: 100%; 
    transition: top 0.3s; 
}



section{
    min-height: 98vh;
}


a {
    font-size: 2.5vw;
    color: white;
    text-decoration: none;
    font-weight: bold;
}

ul.anchor-links {
    padding: 1.5vh 1.5rem;
    margin: 0.5rem;
    list-style: none;
    display: flex;
    justify-content: space-between;
}

.canvas-space {
    width: 100%;
    height: 55vh;   
}

#intro-banner-content{
    margin: 5vh 0.3em;
    width: auto;
    background-color: rgba(196, 196, 196, 0.01);
    box-shadow: 0px 4px 42px 0px rgba(0, 0, 0, 1);
    color:white;
}
.intro-banner-inside{
 padding: 1em;
}
.me-photo{
    width: 15em;
    border-radius: 160px;
}
#intro-banner-text{
}

@media (min-width: 767.98px) {
    nav[role="navigation"] {
        padding: 0.3em 8vw;
    }
    a{
        font-size: 1.5em;
    }
    #intro-banner-content{
        margin: 20vh 0.3em;
    }
}